<div class="container">
  <div>
    <input
      type="text"
      placeholder="Untitled Note"
      name=""
      id="notesTitleText"
      style="width: 100%"
      [(ngModel)]="this.note.title"
    />
  </div>
  <select
    [(ngModel)]="this.note.tagId"
    class="form-select form-select-sm"
    aria-label=".form-select-sm example"
  >
    <option value="0" class="font-italic font-weight-light">
      Select a tag
    </option>
    <hr />
    <option *ngFor="let tag of this.tags" [value]="tag.id">
      <!-- displaying text -->
      {{ tag.text }}
    </option>
  </select>

  <br />
  <textarea
    *ngIf="this.note.title != ''"
    id="notesMainText"
    style="width: 100%; height: 100vw"
    placeholder="Start typing here"
    [(ngModel)]="this.note.content"
  ></textarea>
</div>
