<nav class="navbar">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a href="#" (click)="onClickNotes()"> Notes (3) </a>
      <span class="button" (click)="onClickExpandNotes()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-caret-right"
          viewBox="0 0 16 16"
        >
          <path
            d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"
          />
        </svg>
      </span>
      <ul>
        <li
          [value]="note.id"
          *ngFor="let note of this.notes"
          (click)="onClickNoteTitle($event)"
        >
          {{ note.title }}
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a href="#" (click)="onClickTasks()"> Tasks </a>
    </li>
    <li class="nav-item">
      <a href="#" (click)="onClickBookmarks()"> Reading List </a>
    </li>
  </ul>
</nav>
